<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EmpMapper">
    <select id="getAll" resultType="domain.Emp">
        select *
        from emp
    </select>
    <select id="selectOneByEmpno" resultType="domain.Emp">
        select *
        from emp
        where empno = #{empno};
    </select>
    <select id="selectAllDeptno" resultType="int">
        select distinct deptno
        from emp
    </select>
    <select id="selectAllJob" resultType="string">
        select distinct job
        from emp
    </select>
    <!--动态SQL-->
    <select id="selectByDeptnoAndJob" resultType="domain.Emp">
        select *
        from emp
        <where>
            <if test="deptno!=null and deptno!=''">
                and deptno=#{deptno}
            </if>
            <if test="job!=null and job!=''">
                and job=#{job}
            </if>
        </where>
        order by sal
        <choose>
            <when test="orderFlag!=null and orderFlag=='DESC'">
                ${orderFlag}
            </when>
            <otherwise>
                asc
            </otherwise>
        </choose>

    </select>
    <!--动态SQL的foreach测试-->
    <update id="updateJobByEmpno">
        update emp set job="SALESMAN" where empno in
        <foreach collection="list" item="empno" open="(" close=")" separator=",">
            #{empno}
        </foreach>
    </update>

</mapper>